.features {
    padding: 10rem 0;
    background-color: transparent;
}

.box-wrapper {
    display: flex;
    background-color: transparent;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    min-width: 250px;
    height: 350px;
    padding: 70px;
    background-color: #2b83ca75;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.box:hover {
    background-color: transparent;
}

.box i {
    margin-bottom: 1rem;
}

.box h2 {
    text-transform: uppercase;
    margin: 1rem 0;
}

.box p {
    font-size: 1.8rem;
    line-height: 1.5;
}

@media (max-width: 500px) {
    .box {
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        border-radius: 25px;
        padding: 40px;
    }

    .box-wrapper {
        display: block;
    }

    .box {
        margin-bottom: 2rem;
    }
}

@media (min-width: 501px) and (max-width: 890px) {
    .features .box {
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
    }

    .box-wrapper {
        display: block;
    }

    .box {
        margin-top: 2rem;
    }
}
