.afterlogingames {
    display: block;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: #282c34;
    background: linear-gradient(0deg, #f0f1f383 0%, #ee47588c 100%);  
}

.game-card {
    width: calc(33.33% - 20px);
    margin-bottom: 30px;
    background-color: #282c34;
    background: linear-gradient(0deg, #2d334283 0%, rgba(22, 1, 41, 0.5) 100%);
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
    overflow: hidden;
    color: white;
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.game-card h1 {
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

.game-card p {
    font-size: 14px;
    margin-top: 5px;
    color: #ccc;
}

.pay-btn {
    display: block;
    width: 100%;
    padding: 8px 12px;
    margin-top: auto;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pay-btn:hover {
    background-color: #0056b3;
}

.game-card::before {
    position: absolute;
    content: "";
    box-shadow: 0 0 90px 40px #ffffff28;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
}

.game-card:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 6px 40px 8px #0000005b;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.game-card:hover::before {
    filter: brightness(0.9);
    top: -100%;
    left: 200%;
    transition: 0.7s all;
}

@media (max-width: 500px) {
    .game-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto; 
        padding: 15px;
    }
    
    .game-card {
        width: calc(80% - 20px);
        margin-bottom: 30px;
        padding: 8px;
    }
}

@media (min-width: 501px) and (max-width: 890px) {
    .game-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
        padding: 40px;
    }
    
    .game-card {
        width: calc(50% - 20px);
        margin-bottom: 30px;
    }
}
