.header {
    background: linear-gradient(to right, rgb(241, 241, 241) 50%, #ee4758 50%);
    position: fixed;
    width: 100%;
    /* ensure header always sits above hero imagery */
    z-index: 1000;
    top: 0;
}

.navbar {
    padding: 0rem;
    background: linear-gradient(to right, rgb(241, 241, 241) 50%, #ee4758 50%);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar .logo {
    letter-spacing: 0.2em;
    float: left;
    padding: 1rem;
}

.navbar .nav-items {
    float: right;
    margin-right: 5px;
}

.navbar::after {
    content: "";
    clear: both;
    display: block;
}

.mob-menu {
    display: none;
}

.navbar .nav-item {
    display: inline-block;
    padding: 1rem;
}

.navbar a:link,
.navbar a:visited {
    color: white;
}

.navbar a {
    padding-bottom: 0.3rem;
    margin: 0 auto;
}

.navbar a:hover {
    border-bottom: 1px solid white;
}

@media (max-width: 890px) {
    .navbar .nav-items {
        display: none;
    }

    .mob-menu {
        display: block;
        float: right;
        top: 10px;
        right: 20px;
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
    }

    .mobnav-items {
        display: none;
        position: absolute;
        background: linear-gradient(50deg, transparent 50%, #ee4758 50%);
        width: 35%;
        top: 100%;
        left: 65%;
        z-index: 1000;
        text-align: right;
        padding-right: 10px;
    }

    .mobnav-items.active {
        display: block;
    }

    .close-icon {
        text-align: right;
        padding: 10px;
        cursor: pointer;
    }

    .navbar a:link,
    .navbar a:visited {
        color: rgb(8, 8, 8);
    }

    .navbar a:hover {
        border-bottom: 1px solid rgb(5, 5, 5);
    }

    .navbar {
        background: linear-gradient(30deg, #f7f6f6 50%, #ee4758 50%);
    }
}
