.section {
    padding: 0 0;
}

.animatimg {
    width: 100%;
    height: 530px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.animatimg img {
    position: absolute;
    animation: animateImage 10s linear infinite;
}

.shadow {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    box-shadow: -5px 0px 66px 124px #fff inset;
    top: 0;
    left: 0;
}

@keyframes animateImage {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.row1, .row2, .row3, .row4 {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
}

.row1 .img-box,
.row2 .text-box {
    flex: 0 0 50%;
}

.row2 .img-box,
.row1 .text-box {
    flex: 0 0 50%;
    order: 2;
}

.row3 .img-box,
.row4 .text-box {
    flex: 0 0 50%;
}

.row4 .img-box,
.row3 .text-box {
    flex: 0 0 50%;
    order: 2;
}

.row .img-box {
    height: 100%;
}

.row1 .text-box,
.row3 .text-box {
    height: 350px;
    padding: 100px;
    padding-top: 200px;
    background: linear-gradient(30deg, #f7f6f6 50%, #ee4758 50%);
}

.row2 .text-box,
.row4 .text-box {
    height: 350px;
    padding: 100px;
    padding-top: 200px;
    background: linear-gradient(-30deg, #f7f6f6 50%, #ee4758 50%);
}

.row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .row {
        height: auto;
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }

    .row .img-box,
    .row .text-box {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
        padding: 0px;
        padding-top: 10px;
    }

    .row .text-box {
        padding: 50px;
        padding-top: 10px;
    }

    .imgpub {
        width: 100%;
    }
}

@media (min-width: 501px) and (max-width: 890px) {
    .row {
        height: auto;
        width: 100%;
        flex-direction: column;
    }

    .row .img-box,
    .row .text-box {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
    }

    .row .text-box {
        padding: 50px;
        padding-top: 10px;
    }

    .imgpub {
        width: 100%;
    }
}
